* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README.ProfileServ -text
/RELNOTES -text
/aclocal.m4 -text
/configure -text
/configure.in -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/profileserv.c -text
/profileserv.h -text
/profileserv.vcproj -text
/profileserv_help.c -text
/pulse.xml -text
